<h2 class = "d-flex justify-content-center align-items-center m-4 fw-bold">

The <%= @group.name%> patient transactions
</h2>

<section>
<% @group.patients.each do |gr|%>
<div class = "d-flex">
<div>

<%= gr.name%> <br>
<%= gr.amount%>
</div>
</div>

<% end%>
</section>
<p> <%= link_to("Back", :back)%> </p>