<div>
<% if @groups%>

<p>
<% @groups.each do |group|%>
<div>

<%= group.name%>

</div>

<div>

<%= group.icon%>
</div>
<%end%>
</p>

<% else%>

<p> You have not added any group</p>
</div>

<%end%>

<p><%= link_to('Add new group', new_groups_path	)%> </p>