<h3 class = "d-flex justify-content-center align-items-center fs-1 m-4">Welcome</h3>
<div class = "d-flex justify-content-center align-items-center w-100 m-auto ">
<strong class = "w-25">

<%= link_to('My Patients', my_patients_path, class:"fw-bold fs-3 text-secondary text-decoration-none")%>

</strong>
<strong class = "w-25" > <%= link_to('External Patients', patients_path, class:"fw-bold fs-3 text-secondary text-decoration-none")%> </strong>
<strong class = "w-25">

<%= link_to('My Groups', groups_path,class:"fw-bold fs-3 text-decoration-none text-secondary")%>

</strong>


</div>

