<div>

<p> Total amount payable by all the patients is  &#8358 <%=  @sum_of_amount%>  </p>
<% if @patients%>

<p>
<% @patients.each do |patient|%>
<div>

<%= patient.name%>

</div>

<div>
<p>&#8358 <%= patient.amount%></p>

</div>
<%end%>
</p>

<% else%>

<p> You have not added any patient</p>
</div>

<%end%>

<p><%= link_to('Add new patient', new_patient_url	)%> </p>