<div>
<% if @patients%>

<p>
<% @patients.each do |patient|%>
<div>

<%= patient.name%>

</div>

<div>

<%= patient.amount%>
</div>
<%end%>
</p>

<% else%>

<p> You have not added any patient</p>
</div>

<%end%>

<p><%= link_to('Add new patient', new_patient_url	)%> </p>